* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0 !important;
}

html, body, #root, .lampenhaus {
    height: 100%;
}

.entity-badge {
    margin-right: 5px;
}

.input-group {
    padding-bottom: 20px;
}
