.top-correspondents .card-body {
    height: 400px;
}

.term-histogram .card-body {
    height: 220px;
    overflow: hidden;
}

.mini-matrix-card .card-body {
    overflow: hidden;
    height: 400px;
}