.email-list-view.grid-container {
    grid: 1fr 1fr 230px / 4fr 3fr 3fr;
}

.email-list-view .grid-item.maximized {
    grid-area: 1 / 1 / 4 / 4;
}

.email-list-view .email-list-container {
    grid-area: 1 / 1 / 3 / 2;
}

.email-list-view .timeline-container {
    grid-area: 3 / 1 / 4 / 2;
}

.email-list-view .keyphrases-container {
    grid-area: 1 / 2 / 2 / 3;
}

.email-list-view .top-correspondents-container {
    grid-area: 1 / 3 / 2 / 4;
}

.email-list-view .topic-spaces-container {
    grid-area: 2 / 2 / 4 / 3;
}

.email-list-view .matrix-card-container {
    grid-area: 2 / 3 / 4 / 4;
}

.term-timeline .card-body {
    overflow-y: hidden;
}
