.collapsible-results-headline {
    cursor: pointer;
    display: flex;
    max-width: 100%;
    align-items: flex-start;
}

.collapsible-results-headline p,
.collapsible-results-headline span {
    margin-bottom: 0;
    flex: 0 0 auto;
}

.collapsible-results-headline .subject {
    flex: 1 1 auto;
}

mark {
    background-color: yellow;
}

.email-link {
    padding-left: 5px;
    flex: 0 0 auto;
}

.similar-date{
    color: darkgray;
    font-size: 0.9em;
}
