.date-inputs,
.correspondent-inputs {
    display: flex;
}

.date-inputs input,
.correspondent-inputs input{
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
}

.correspondent-inputs input:last-child {
    margin-right: 0;
}