.correspondent-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.correspondent-link:hover {
    text-decoration: none;
}

.correspondent-list-content {
    overflow: auto;
    max-height: calc(100% - 42px);
}

.correspondent-link .correspondent-name {
    flex: 1 1 auto;
}

.correspondent-link:hover .correspondent-name {
    text-decoration: underline;
}

.maximized .top-correspondents {
    z-index: 9;
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 30%;
    height: auto;
    max-height: calc(100% - 5rem);
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.maximized .top-correspondents .card-header {
    display: none;
}

.maximized .top-correspondents .card-body {
    height: auto;
}
