.words { 
    margin-left: 20px;
}

.word {
    font-size: 1.2em;
}

.links line {
    stroke-width: 10px;
    stroke: transparent;
}

.links line:hover {
    stroke: rgba(255, 255, 255, 1);
}

.nodes circle {
    stroke: rgba(255, 255, 255, 1);
}

.TopicSpace {
    width: 650px;
    height: 650px;
    border-radius: 50%;
}

.innerSpace {
    stroke-width: 10px;
}