.email-view-container {
    height: calc(100% - 90px);
}

.email-view-container .row {
    height: 100%;
}

.email-view-container .col {
    display: flex;
    flex-direction: column;
}

.email-view-container .email-card,
.email-view-container .similar-mails-card {
    flex: 0 1 auto;
}

.email-view-container .attachments-card,
.email-view-container .entity-list-card,
.email-view-container .topics-card {
    flex: 0 0 auto;
}

h4 {
    margin-top: -10px;
    margin-bottom: 15px;
}