.phrases-card .card-body {
    height: 250px;
}

.entity-list-card .card-body {
    height: 300px;
}

.related-articles-card .card-body {
    height: 340px;
}

.email-card .card-body {
    height: 350px;
}

.timeline-card .card-body {
    height: 200px;
}

.similar-mails-card .card-body {
    height: 300px;
}

.attachments-card .card-body {
    height: 120px;
}

.topics-card .card-body {
    height: 300px;
}

.graph-card .card-body {
    height: 275px;
}
