/* .email-view-container {
    height: calc(100% - 90px);
}

.email-view-container .card {
    overflow-y: auto;
}

.email-view-container .email-card {
    max-height: calc(100vh - 236px);
}

.email-view-container .email-col-right {
    max-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}

.email-view-container .email-col-right .card {
    flex: 1 1 auto;
} */