.matrix-container {
	position: center;
	z-index: 10;
}

.matrix-container .background {
  fill: #eee;
}

#matrix-container line {
  stroke: #fff;
}

#mini-matrix-container line {
  stroke: transparent;
}

#mini-matrix-container svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.matrix-container text {
  font-size: 0.7rem;
}

.matrix-container text.active {
  fill: red;
}
