.matrix-container {
  z-index: 10;
  overflow: auto;
}

.matrix-container .background {
  fill: #eee;
}

#matrix-flex-container {
  display: inline-flex;
  height: 870px;
  width: 1880px;
}

#matrix-legend-container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 250px;
}

#matrix-legend-container svg {
  height: 200%;
  width: 150px;
}

#big-matrix-container line {
  stroke: #fff;
}

#mini-matrix-container line {
  stroke: transparent;
}

#mini-matrix-container {
  height: 100%;
  padding: 8px;
  text-align: center;
}

#big-matrix-container text {
  font-size: 0.7rem;
  position: sticky;
}

#big-matrix-container text.active {
  fill: red;
}
