main.graph {
    height: 100%;
    min-height: 600px;
    overflow: hidden;
    position: relative;
    margin: -20px;
    padding: 20px;
}

#relayout-button {
    z-index: 1;
    position: relative;
    left: calc(100% - 30px);
}
