.correspondent-view-cards .card-body {
    height: 325px;
}

.correspondent-list .card-body {
    overflow: hidden;
}

.categories-card .card-body {
    overflow: hidden;
}

.term-timeline .card-body {
    height: 150px;
}
