.correspondent-view-cards .card-body {
    height: 300px;
}

.correspondent-list .card-body {
    overflow-y: hidden;
}

.correspondent-info-table {
    width: 100%;
}

.correspondent-info-table-left-row {
    font-style: oblique;
}