.info-content hr {
    margin: 0.2rem 0;
}

.collapsible-correspondent-info-headline {
    cursor: pointer;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.collapsible-correspondent-info-headline:first-child {
    border: none;
}

.hierarchy-table {
    width: 100%;
}

.hierarchy-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.hierarchy-table tr:last-child {
    border: none;
}

.hierarchy-table td {
    padding: 5px;
}

.hierarchy-table td:last-child {
    text-align: right;
    width: 40px;
}

.phone-numbers {
    display: flex;
    justify-content: space-between;
}

.phone-entries {
    text-align: right;
}

