.matrix-selection-text {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.1rem;
}

.disabled-selection-div {
    pointer-events: none;
    opacity: 0.5;
}

.sorting-selector {
    width: 130px;
}
