.email-list .card-body {
    height: 300px;
}

.email-count {
    color: darkgray;
    font-size: 0.9rem;
}

.filter-badge.category {
    width: 75px;
}

.filter-badge.small.category {
    width: 63px;
}